.html{
margin: 0;
padding: 0;
}

body{
margin: 0;
padding: 0;
}

.header{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 50px;
background-color: lightgrey;
}

.header h1{
margin: 5px 0 0 15px;
}

.form{
margin-top: 60px;
text-align: left;
}

.footer{
position: fixed;
bottom: 0;
left: 0;
width: 100%;
height: 50px;
background-color: lightgrey;
}

.footer-form{
float: right;
}

.entry{
margin-top: 7.5px;
float: left;	
}

.entry input{
margin: 5px 15px 0 0;
}

.panel {
margin-top: 50px;
width: 100%;
min-height: 500px;	
}

.button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 200px;
  margin: 0 0 15px;
}

.device{
width: 14%;
float: left;
padding: 2px;
}